@{
    ViewBag.Title = "Home Page";

}
<link rel="stylesheet" href="~/Content/abou.css">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="~/Content/abou.css">
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="~/Content/Imagenes/Logoiz.png" alt="Imagen de fondo">
        </div>
        <div class="content">
            <h1>About Us</h1>
            <p>Welcome to ASP AMOR - SAL - PIMIENTA! Immerse yourself in a unique culinary experience that blends a love for food with the cultural richness of our dishes. From our humble beginnings to becoming a culinary landmark in the city, our history is steeped in love, flavor, and dedication.</p>
            <p>Founded over a decade ago by a group of friends with a shared passion for cooking, ASP AMOR - SAL - PIMIENTA has evolved into a culinary destination not to be missed. Every dish we serve tells a story, from traditional family recipes to innovative creations that reflect the diversity of culinary influences that inspire us.</p>
            <p>Our commitment to quality and excellence has endeared us to our customers, who have accompanied us every step of the way. At ASP AMOR - SAL - PIMIENTA, we not only invite you to enjoy delicious flavors but also to be part of our story. We look forward to welcoming you to an unforgettable experience filled with love, flavor, and spice!</p>
        </div>
    </div>
</body>
</html>
